.linkBox {
    resize: none;
    width: 1500px;
    height: 25px;
    font-size: 20px;
}

.textInput {
    resize: none;
    width: 1000px;
    height: 900px;
    font-size: 20px;
}

.passwordInput {
    resize: none;
    width: 400px;
    height: 25px;
    font-size: 20px;
}

.passwordVisibilityBtn {
    cursor: pointer;
}

button {
    font-size: 20px;
}

h1 {
    font-size: 35px;
}

.saveBtn {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.tab {
    font-size: 25px;
}

.savedstatus {
    color: green;
}

.unsavedstatus {
    color: red;
}